* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  

  }


  body
  {
    background: url(./Star\ BG\ in\ UI.png) no-repeat center center / cover,url(./Star\ BG\ in\ UI.png) no-repeat center center / cover,url(./Main\ BG\ in\ UI.png) no-repeat center center / cover,url(./Main\ BG\ in\ UI.png) no-repeat center center / cover,url(./Main\ BG\ in\ UI.png) no-repeat center center / cover,url(./Main\ BG\ in\ UI.png) no-repeat center center / cover, url(./flare.png) no-repeat center,url(./Nebula\ GIF.gif) no-repeat center center / cover;
    background-repeat: no-repeat;
    background-size:center cover;
    background-color: black;
    color: white;
 }

  .head
  {
    color: white;
    margin-top: 2%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;

  }

  .main
  {
    color: white;
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
  }

  .intro
  {
    
    display: flex;
    height: 300px;
    width: 1200px;
    margin-bottom: 1%;
    align-items: center;
    justify-content: center;

  }


  .intro .des
  {
    
    line-height: 2;
   
  }
  
  .first
  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:100px;
    padding-bottom: 500px;
  }

  .left
  {
       padding-top: 0%;
       height: 600px;
       width: 400px;

  }

  .right
  {
  
       height: 750px;
       width: 800px;
       align-items: center;
       justify-content: center;

  }
  


  .right .button
  {

    height: 75px;
    width: 150px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10%;
    outline: black;
    

  }

  
  .right .button:hover
  {
    transform: scale(1.1);
  }
  


  .left .pic
  {
    height: 400px;
    width: 400px;
    
  }

  .right .rules
  {

    line-height: 2;
  }

  @media only screen and (max-width: 1300px) {
    .first {

      font-size: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 1000px;
      
    }
    .left
    {
        height: 250px;
        width: 300px;
    }

    .left .pic
    {
      height: 300px;
      width: 350px;
      margin-top: 10%;
   
    }

    .right
    {
        font-size: 5px;
        height: 250px;
        width: 900px;
        margin-top: 10%;

    }

    .right .button
    {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    .intro 
    {
        font-size: 10px;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 950px;
    }

    .head {
        font-size: 18px;
    }


  }


  @media only screen and (max-width: 1150px) {
    .first {

      font-size: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 1000px;
      
    }
    .left
    {
        height: 250px;
        width: 300px;
    }

    .left .pic
    {
      height: 300px;
      width: 350px;
      margin-top: 10%;
   
    }

    .right
    {
        font-size: 5px;
        height: 250px;
        width: 800px;
        margin-top: 10%;

    }

    .right .button
    {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    .intro 
    {
        font-size: 10px;
        margin-top: 20%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 800px;
    }

    .head {
        font-size: 18px;
    }


  }


  @media only screen and (max-width: 1050px) {
    .first {

      font-size: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 1000px;
      
    }
    .left
    {
        height: 250px;
        width: 300px;
    }

    .left .pic
    {
      height: 300px;
      width: 350px;
      margin-top: 20%;
   
    }

    .right
    {
        font-size: 5px;
        height: 250px;
        width: 650px;
        margin-top: 10%;

    }

    .right .button
    {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    .intro 
    {
        font-size: 10px;
        margin-top: 25%;
        margin-left: 10%;
        margin-bottom: 5%;
        width: 650px;
    }

    .head {
        font-size: 18px;
    }

    .right .button
  {

    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10%;
    outline: black;
    

  }



  }

  @media only screen and (max-width: 950px) {
    .first {

      font-size: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 1200px;
      
    }
    .left
    {
        height: 250px;
        width: 300px;
    }

    .left .pic
    {
      height: 300px;
      width: 350px;
      margin-top: 10%;
   
    }

    .right
    {
        font-size: 5px;
        height: 250px;
        width: 550px;
        margin-top: 10%;

    }

    .right .button
    {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    .intro 
    {
        font-size: 10px;
        margin-top: 25%;
        margin-left: 20%;
        margin-bottom: 20%;
        width: 550px;
    }

    .head {
        font-size: 18px;
    }

  
    


  }

  @media only screen and (max-width: 850px) {
    .first {

      font-size: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 1500px;
      
    }
    .left
    {
        height: 250px;
        width: 300px;
    }

    .left .pic
    {
      height: 300px;
      width: 350px;
      margin-top: 25%;
   
    }

    .right
    {
        font-size: 5px;
        height: 250px;
        width: 450px;
        margin-top: 10%;

    }

    .right .button
    {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    .intro 
    {
        font-size: 10px;
        margin-top: 25%;
        margin-left: 10%;
        margin-bottom: 10%;
        width: 450px;
    }

    .head {
        font-size: 18px;
    }



  }

  @media only screen and (max-width: 750px) {
    .first {

      font-size: 10px;
      flex-wrap: wrap;
      flex-direction: column;
      padding-bottom: 1850px;
      
    }
    .left
    {
        height: 250px;
        width: 300px;
    }

    .left .pic
    {
      height: 300px;
      width: 350px;
      margin-top: 60%;
   
    }

    .right
    {
        font-size: 5px;
        height: 250px;
        width: 350px;
        margin-top: 45%;

    }

    .right .btn
    {
        margin-top: 10%;
        align-items: center;
        justify-content: center;
    }

    .intro 
    {
        font-size: 10px;
        margin-top: 60%;
        margin-left: 10%;
        margin-bottom: 15%;
        width: 350px;
    }

    .head {
        font-size: 18px;
    }


  }